@import url("https://fonts.googleapis.com/css2?family=Alata&family=Glory:ital,wght@0,100..800;1,100..800&family=Mingzat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.home-page {
  padding: 20px;
  text-align: center;
  font-family: alata;
  font-weight:100;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.month-navigation button {
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: #d9d9d9;
  border-radius: 5px;
  cursor: pointer;
}

.month-navigation button:hover {
  background-color: transparent;
  color: #797979;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.day {
  position: relative; /* Make sure the number is positioned relative to the day cell */
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: none;
  margin: 0px;
}

.day-number {
  position: absolute;
  top: 2px; /* Position at the top */
  right: 6px; /* Position to the right */
  background: none;
  color: white;
  padding: none;
  border-radius: 5px;
  font-size: 1rem; /* Adjust the font size */
  font-family: Alata;
}

.day img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.month-navigation {
  display: flex;
  align-items: center;
  gap: none;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.month-navigation button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.month-navigation img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  max-width: 400px;
  width: 80%;
  text-align: center;
}

button {
  background-color: none;
  color: #383838;
  padding: 0;
  margin-top: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: mingzat;
}

button:hover {
  background-color: #c2c2c2;
  box-shadow: none;
}

.modal-button {
  background-color: #ebebeb;
  color: #494949;
  padding: 6px 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: alata;
}

.modal-button:hover {
  background-color: #c3c3c3;
  color: #181818;
  box-shadow: none;
}
